<!DOCTYPE html>
<html>
<head>
    <!--
    * Created by PhpStorm.
    * User: Zachary Rosenlund
    * Date: 1/12/2018
    * Time: 5:19 PM
    *-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Routing Demo</title>
</head>
<body>
<div class="container mx-auto text-center">
    <h1 class="display-2">Page 2</h1>
    <hr>
    <div class="row">
        <div class="col">
            <p class="text-left lead justify content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col">
            <p class="text-left lead justify content">Curabitur iaculis rutrum augue, vitae gravida eros faucibus id. Fusce iaculis urna ut sapien aliquet lacinia. Duis sed finibus purus. In tincidunt vehicula lacus quis eleifend. Cras ullamcorper sodales nisl, nec tempor quam tincidunt in. Duis quam nisi, iaculis eget ex et, ullamcorper fermentum mi. Suspendisse semper magna neque, id congue justo eleifend vehicula. Suspendisse sit amet massa sit amet mi ultrices lacinia fermentum vel massa. Fusce enim massa, aliquam cursus odio at, varius lobortis tortor.</p>
        </div>
        <div class="col">
            <p class="text-left lead justify content">Nam in rhoncus nulla. Suspendisse tristique elit et ex accumsan, ut hendrerit est ullamcorper. Sed vitae dignissim diam, id tempus nulla. Suspendisse molestie facilisis nunc, a lacinia justo tincidunt eget. Suspendisse elementum sem at neque imperdiet fringilla. Vestibulum a dapibus augue. Donec vitae pellentesque felis. Phasellus vulputate diam ut tristique tristique.</p>
        </div>
    </div>
</div>
</body>
</html>